.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form{
    width: 50%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 50px 0;
    background-color: antiquewhite;
}
.form label{
    margin-bottom: 10px;
}
.form input{
    padding: 0 60px;
    margin-bottom: 30px;
}
.form button{
    background-color: brown;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: large;
    margin-bottom: 20px;
}
