
.main{
    width: 100vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(216, 214, 214);
}
.header{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.welcome{

}