

.main{
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.row1{
  width: 100%;
  height: 30px;
  display: flex;
  border: 0.5px solid #777;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  justify-content: flex-start;

}
.row{
    width: 100%;
  height: 30px;
    display: flex;
    flex-direction: column;
}
.user{
    margin-left: 10px;
    margin-right: 40px;
}
.subject{
    margin-right: 40px;
}
.msg{
    text-align: right;
}
.dot{
    width: 8px;
    height: 8px;
    background: blue;
    border-radius: 100%;
    margin-left: 10px;
}
.delete{
    margin-left: 20px;
}
.delete button{
    border: none;
    background: transparent;
    color: rgb(88, 46, 46);
}
.delete button:hover {
    color: rgb(215, 29, 29);
}